@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
    --border-color: rgb(255, 255, 255);
}

/* typography */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 2px solid #414247;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    border-bottom: 2px solid #414247;
    border-left: 2px solid #414247;
    border-right: 2px solid #414247;
    border-bottom-left-radius: 24px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.name {
    font-size: 3.2rem;
    font-weight: 700;
}

/* layout */

/* color-bar */
table {
    border-collapse: collapse;
}
td {
    width: 25vw;
    height: 8px;
    padding: 0px;
}
.color1 {
    background-color: #ed5b42;
}
.color2 {
    background-color: #f4aa85;
}
.color3 {
    background-color: #c3dae0;
}
.color4 {
    background-color: #414247;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-li {
    margin-left: 3em;
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover, .nav-link:focus {
    color: #ec5a43;
}

.current-page {
    border-bottom: 2px solid #696a6e;
}

.current-page:hover {
    color: black;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1em;
}

.main-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.first-name {
    margin-top: 0;
    margin-bottom: -1.5em;
}

.last-name {
    margin-bottom: 0;
}

.role {
    font-size: 1.5rem;
}

.message {
    color: #414247;
}

.main-info > div {
    width: 80%;
}

.img-hero {
    /* display: block; */
    width: 50%;
    object-fit: cover;
}

/* for future */
/* .aside-homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: -1;
    width: 7%;
    background-color: rgb(235, 235, 235);
    padding: 1em;
    border-radius: 24px;
} */

/* technologies */

.section-tech {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.container-tech {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    display: flex;
    width: 80%;
    /* background-color: #f7f2ec; */
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: ; */
    /* border: 1px solid black; */
}

.tech-info {
    display: flex;
    width: 40%;
    /* padding: 4em 6em; */
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.tech-info > div {
    /* border: 1px solid black; */
    width: 70%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.logo-tech {
    background-color: #f9d9b3;
}

.tech-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
    justify-content: space-between;
    align-content: center;
    align-items: start;
    gap: 2em 0;
    /* border: 1px solid black; */
    width: 50%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    border-radius: 50%;
}

/* projects */

.section-projects {
    margin: 3em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.container-projects {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    display: flex;
    width: 80%;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
}

.projects-hero {
    /* border: 1px solid black; */
    /* display: block; */
    width: 100%;
    height: auto;
    /* max-width: 550px; */
    /* border: 24px; */
    /* object-fit: cover; */
    margin: 1em;
}

.projects-info {
    display: flex;
    width: 50%;
    padding: 2em 1em;
    /* padding: 4em 6em; */
    justify-content: center;
    align-items: center;
}

.projects-info > div {
    /* border: 1px solid black; */
    width: 80%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.logo-projects {
    background-color: #d7f2f9;
}

.logo-blogs {
    background-color: #d6e1ff;
}

.link-primary {
    display: block;
    background-color: #3c394a;
    width: fit-content;
    border-radius: 10px;
    color: white;
    margin-top: 1.5em;
    padding: 1em 2em;
}

/* footer */

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #414247;
    border-top-right-radius: 24px;
}

.text-center {
    text-align: center;
    font-weight: 700;
}

.socials-list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 250px;
    justify-content: space-between;
}

.social-icon {
    font-size: 1.5rem;
    padding: 0.4em;
    border-radius: 50%;
}   

.fa-github {
    color: #ef347b;
    background-color: #fbeef5;
}

.fa-linkedin-in {
    color: #0056e3;
    background-color: #eff4fa;
}

.fa-twitter {
    color: #8905d5;
    background-color: #f4eefc;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;  
    text-align: center; 
}

.footer-nav-list  {
    display: flex;
    list-style: none;
    padding: 0;
    border: 1px solid gray;
    justify-content: space-between;
    width: 350px;
}

.footer-nav-link {
    text-decoration: none;
    color: black;
}

.footer-name {
    font-weight: 700;
}

.copyright-text {
    font-size: 0.8rem;
}

.red {
    color: #ef4444;
    background-color: #fee2e2;
}

.orange {
    color: #f97316;
    background-color: #ffedd5;
}

.yellow {
    color: #eab308;
    background-color: #fef9c3;
}

.green {
    color: #22c55e;
    background-color: #dcfce7;
}

.blue {
    color: #3b82f6;
    background-color: #dbeafe;
}

.indigo {
    color: #6366f1;
    background-color: #e0e7ff;
}

.pink {
    color: #ec4899;
    background-color: #fce7f3;
}

.rose {
    color: #f43f5e;
    background-color: #ffe4e6;
}

.cyan {
    color: #06b6d4;
    background-color: #cffafe;
}

/* .project {
    border: 1px solid black;
    background-image: url("./assets/project-lucky-bday.png");
} */

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    margin: 2rem;
    padding: 0 1.5rem;
    border-radius: 24px;
    text-align: justify;
}

.project-img {
    width: 100%;
}

.link-demo {
    text-align: center;
    width: 180px;
    padding: 0.8rem;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: 1rem;
    color: #fff;
}

.link-source {
    text-align: center;
    width: 180px;
    padding: 0.8rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    color: #fff;
}

.link-red {
    background-color: #ed5b42;
}

.link-red-light {
    background-color: #f08e7d;
}

.link-orange {
    background-color: #f48248;
}

.link-orange-light {
    background-color: #f6b08e;
}

.link-blue {
    background-color: #72daf4;
}

.link-blue-light {
    background-color: #a5ebfc;
}

.link-gray {
    background-color: #414247;
}

.link-gray-light {
    background-color: #74767f;
}


@media (max-width: 820px) {
    h1 {
        margin-bottom: 0;
    }
    .navbar, header {
        width: 100%;
    }
    .nav-list {
        justify-content: space-around;
    }

    .container-header {
        flex-direction: column;
    }

    .nav-li {
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .img-hero {
        order: -1;
        width: 90%;
        max-width: 350px;
    }

    .main-info, .tech-info, .projects-info {
        width: 100%;
        text-align: center;
    }

    .projects-info {
        order: -1;
    }

    .main-info > div,
    .tech-info > div,
    .projects-info > div {
        width: 95%;
    }

    .container-tech, .container-projects {
        flex-direction: column;
        width: 90%;
    }

    .section-tech {
        justify-content: center;
    }

    .projects-hero {
        margin: 0;
    }

    .footer-list {
        flex-direction: column;
    }

    .logo {
        margin: 1em auto;
    }

    .tech-logos {
        gap: 0.5em;
        width: 90%;
        padding: 1em;
    }

    .tech-icon {
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
    }

    .link-primary {
        margin: 0 auto;
    }

    .projects {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .project-item {
        margin: 2rem auto;
    }
}